body {
    margin-left: 25%;
    margin-right: 25%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 23%;
    background-position: 0%;
    
}

.header-container {
    text-align: center;
}

hr {
    border: 1px solid gray
}

.navegacao-container {
    display: flex;
}

p {
    margin-left: 3%;
    font-size: larger;
    font-family: sans-serif;
}

ul, ol {
    font-size: large;
}