body {
    margin-left: 25%;
    margin-right: 25%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 23%;
    background-position: 0%;
    background-image: url("/images/grayBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header-container {
    text-align: center;
}

hr {
    border: 1px solid gray
}

.nav {
    font-size: larger;
}

table, tr, th {
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
    background-color: aliceblue;
    width: 600px;
}

table {
    margin: 0 auto;
}

p {
    margin-left: 3%;
    font-size: larger;
    font-family: sans-serif;
}

ul, ol {
    font-size: large;
}

.borderBody {
    background-color:rgb(211, 197, 197);
    border: 2px ridge black;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    padding-left: 1%;
}